html{
    scroll-behavior: smooth;
}
body{
    background-color: #f3f3f3;
}
a:hover{
   text-decoration: none;
}
.padrao{
    color:#333333;
    text-align: left;
}
.menu__icone{
    padding: 4px 50px 5px 0;
    color:#333333
    /* decoration: none */
}
.home{
    color:aqua
}
.sobre{
    display:flex;
    align-items: flex-start;
    justify-content: space-around;
    
    /* position:absolute; */
    /* right: 30%; */
    /* margin-bottom: 40vh; */
}
.titulo-sobre{
    display: flex;
    align-self: start;
    color:#E97707;
}
.bg-sobre{
    padding: 40px 0 0 0;
    background-color:#F2F1F1 ;
}
.local{
    object-fit: cover;
    color:red
}
.imagem-carrossel-fundo{
    background-color: #F7F7F7;
}
.imagem-carrossel-big{
    object-fit: cover;
    /* min-width: 375px; */
    max-width: 100%;
    height: 650px;
 }
 .imagem-carrossel-sm{
    object-fit: cover;
    /* min-width: 375px; */
    max-width: 100%;
    height: 650px;
 }
.img-circular {
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
    float:right ;
  }
.cta{
    
    display:flex;
    align-items: center;
    justify-content: space-around;
   
}
.bg-cta{
    width: 100%;
    /* min-width: 375px; */
}
.whats--chamada{
    font-size: 24px;
    color: #ffffff;
    padding: 0 0 40px 0;
    position:absolute;
    right: 25%;
}
.whats{
    position:absolute;
    right: 30%;
    /* background-color: rgba(255,255,255,0); */
    width: 130px;
    background-color: #E97707;
    color: #ffffff;
    border: 2px solid #E97707; /* Laranja */
    border-radius: 5px;
}
.depoimento{
    background-color: #21264A ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.depoimento__titulo{
    padding: 24px;
    color: #ffffff;
    text-align: center;

}
.depoimento__corpo{
    color: #ffffff;
    text-align: center;
    font-weight: 400;
}

.informacoes{
    background-color: #333333;

}
.informacoes__titulo{
    color: #ffffff;
    
    
}.informacoes__corpo{
    color: #a09d9d;
    font-weight: 400;  
}
.card__largura{
    max-width: 18rem;
}

.card__altura{
    object-fit: cover;
    max-height: 20vh;
}
.informacoes__btn{
    width: 130px;
    background-color: #E97707;
    color: #ffffff;
    border: 2px solid #E97707; /* Laranja */
    border-radius: 5px;
}
.localizacao{
    /* padding: 24px 0 0 0; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: #21264A;
}
.localizacao__titulo{
    /* position: absolute; */
    background-color: #21264A;
    display: flex;  
    align-items: center;  
    justify-content: center;
    padding: 24px 0 0 0;
}
.localizacao__espacamento{
    /* margin: 0; */
    padding: 60px 0 0 0;
}
.icones__container{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
}
.icones{
    
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
}
.icones__font{
    padding-left: 8px;
}
.icones__paragrafo{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 20px 0 60px;
}
.icones__sociais{
    padding: 20px 20px 0 60px;
    display: flex;
    align-items: center;
    /* justify-content:center; */
}
.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0;*/
    padding: 24px; 
    background-color: #333333;
}

@media screen and (min-width: 320px) {
  /* .imagem-carrossel-big {
      display:block;
    }
  .imagem-carrossel-sm {
    display:none;
    } */
  .whats--chamada{
      font-size: 1.5rem;
      right: 10vw;
  }

}

@media screen and (min-width: 540px) {
    .whats--chamada{
        right: 15vw;
    }
 
    .localizacao{
        flex-direction: row;
    }
    
  }
@media screen and (min-width: 630px) {
    .whats--chamada{
        right: 18vw;
    }
      
  }
@media screen and (min-width: 768px) {
    .whats--chamada{
        right: 20vw;
    }
  }
  @media screen and (min-width: 1024px) {
    .whats--chamada{
        right: 25vw;
    }
  }